<div class="main-panel">
    <div class="content">
        <h1 class>What's in your fridge?</h1>
        <input type="text" [(ngModel)]="searchTerm" (keyup)="search()">
        <div class="results-container" *ngIf="results.length > 0">
            <ul class="results-list">
                <li *ngFor="let result of results" (click)="selectProduct(result)">
                    {{ result.strIngredient }}
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <form class="shopping-list">
            <select multiple name="choices[]" id="choices">
                <option *ngFor="let product of chosenProductsNames">{{product}}</option>
            </select>
            <input type="submit" value="Find" (click)="searchByProducts()">
        </form>
        <input type="checkbox" [(ngModel)]="moreProducts"> Use more ingredients
        <input type="checkbox" [(ngModel)]="allProducts"> Use all ingredients
    </nav>
</div>