<head>
  <script src="https://kit.fontawesome.com/f8f883ef8f.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class = 'nav-buttons'>
        <div class="home-button">
            <a href='' class="button">Home</a>
        </div>
        <div class="find-recipe-button">
            <a href='find-recipe' class="button">Find a recipe</a>
        </div>
        <div class="add-recipe-button">
            <a href='add-recipe' class="button">Add a recipe</a>
        </div>
    </div>
    <div class="user-buttons">
      <fa-icon *ngIf="!isUserLogged()" [icon]="faUser" size="2x" (click)="redirectToLogin()"></fa-icon>
      <fa-icon *ngIf="isUserLogged()" [icon]="faRightFromBracket" size="2x" (click)="logout()"></fa-icon>
    </div>

  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</body>
