.content>div {
    border: 1px solid gray;
    border-radius: 1em 1em 0 0;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #B0A8B9 0%, #59545F 100%);
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.content>div>img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.recipe{
    cursor: pointer;
}

h1{
    font-size: 1.17em;
}

.socialSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.like{
    margin-right: auto;
    color: green;
}

.dislike{
    margin-left: auto;
    color: darkred;
}