<div class="star-rating">
    <fa-icon *ngIf="true" [icon]="faStar" (click)="selectStar(1)" [class.selected]="selectedStars >= 1"></fa-icon>
    <fa-icon *ngIf="true" [icon]="faStar" (click)="selectStar(2)" [class.selected]="selectedStars >= 2"></fa-icon>
    <fa-icon *ngIf="true" [icon]="faStar" (click)="selectStar(3)" [class.selected]="selectedStars >= 3"></fa-icon>
    <fa-icon *ngIf="true" [icon]="faStar" (click)="selectStar(4)" [class.selected]="selectedStars >= 4"></fa-icon>
    <fa-icon *ngIf="true" [icon]="faStar" (click)="selectStar(5)" [class.selected]="selectedStars >= 5"></fa-icon>
  </div>