form>.sendRecipe {
    color: white;
    border-color: grey;
    padding-left: 1em;
}

form>button {
    width: 50%;
}

.results-container {
    position: relative;
    width: 100%;
}

.results-list {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
}

.results-list li {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}

.results-list li:hover {
    background-color: #e0e0e0;
}

#choices{
    width: 20em;
}

.file{
    color: white;
    border-color: white;
    padding-left: 1em;
}

@media screen and (max-width: 767px) {
   #addRecipe{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
  }