<div class='main-panel'>
    <div class="content">
        <fa-icon *ngIf="isUserAdmin()" [icon]="faTrash" size="xl" (click)="deleteRecipe()"></fa-icon>
        <div class="ratioSection">

        </div>
        <h1>{{recipe?.title}}</h1>
        <img [src]=sanitizedFileUrl>
        <p class="description" [ngStyle]="{'white-space': 'pre-line'}">{{recipe?.description}} </p>
    </div>
    <nav>
        <div *ngIf="commentError" class="failInfo">{{commentError}}</div>
        <form [formGroup]="myForm" (ngSubmit)="submitForm()" id="addCommentForm">
            <textarea name="comment-content" rows="3" formControlName="commentContent" required
                placeholder="Put your comment here" class="addComment"></textarea>
                
            <input type="submit" [disabled]="myForm.invalid">
        </form>
        <h1>Comments</h1>
        <div class="comment" *ngFor="let comment of recipe.comments">
            <h1>{{comment.createdBy.details.name + ' ' + comment.createdBy.details.surname}}</h1>
            <p>{{comment.content}}</p>
        </div>
    </nav>
</div>