.content > img{
    height: 35%;
    border: 3px solid gray;
    border-radius: 1em 1em 1em 1em;
}

.content > h1{
    font-size: 3em;
    color: white;
}

.content > p{
    color: white;
    font-size: 1.2em;
}

fa-icon{
    cursor: pointer;
    color: white;
    margin-left: 1em;
}

.content{
    padding-top: 1em;
}