<div class="security-panel">
    <div class="login-container">
        <form [formGroup]="myForm" (ngSubmit)="submitForm()" class="login">
            <div class="form-header">Sign in</div>
            <div class="lr-swap">If you don't have an account yet <a href="register" class="lr-swap">create an account</a></div>
            <input type="email" id="email" formControlName="email" required placeholder="email@example.com">
            <input type="password" id="password" formControlName="password" required placeholder="Password">
            <div *ngIf="failedLogin" class="failInfo">Credentials incorrect. Try again</div>
            <button type="submit" [disabled]="myForm.invalid">Sign in</button>
          </form>
    </div>
</div>